Task for dphi Bootcamp

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [ ]:
T= ('python',)*5
print(T)

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [ ]:
word = input("input string is:")
i=0
word_even=list()
while i <= len(word)-1:
  if not i%2>0:
    word_even.append(word[int(i)])
  i = i+1
print(word_even)

#or
word_lst = list(word)
word_even2 = word_lst[0::2]
print(word_even2)

input string is:python
['p', 't', 'o']
['p', 't', 'o']

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [ ]:
elements = [5,7,4,9,2]
def average(num):
    return print(sum(num)/len(num))

average(elements)

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [ ]:
import calendar
year = input("input year: ")
val=calendar.isleap(int(year))
print('the',year, 'is a leap year?', val)

input year: 2022
the 2022 is a leap year? False

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [ ]:
l = [21,6,12,57,35,61]
l.sort()
sec_max = l[-2]
sec_min = l[1]
seconds = sec_max+sec_min
print(seconds)

69

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.